{{append . "moreStyles" "css/layout.css"}}
{{set . "title" "오매불만"}}
{{template "header.html" .}}

<div class="frame">
    <div class="header">
        <div class="logo">여기는 로고가 있을거임</div>
    </div>
    <!-- //header -->
    <div class="container">
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="" class="nav-link">Menu-1</a></li>
                <li class="nav-item"><a href="" class="nav-link">Menu-2</a></li>
                <li class="nav-item"><a href="" class="nav-link">Menu-3</a></li>
            </ul>
        </div>
        <!-- //nav -->
        <div class="content">

        </div>
    </div>
    <!-- //container -->
</div>

{{template "footer.html" .}}
